/*
Project Name: CMS
Author: Jordan Loeser & Trevor Crupi
Version:      1.0.0
*/
/* # Reset
---------------------------------------------------------------------------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

html, body {
  color: #7F94A1;
  background: #7F94A1;
  font-family: "Open Sans", sans-serif;
  height: 100%; }

/* # Helper Classes
---------------------------------------------------------------------------------------------------- */
a.button {
  display: inline-block;
  padding: .5em 1em;
  font-size: .8em;
  text-decoration: none;
  color: #DFE0E6;
  background: #00BCD4;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background-clip: padding-box; }
  a.button:hover {
    background: #008fa1; }

/* # CodeEditor
---------------------------------------------------------------------------------------------------- */
.cm-s-devcms {
  background-color: #FFF;
  color: #7F94A1; }
  .cm-s-devcms .CodeMirror-gutters {
    background: #FFF;
    color: rgba(127, 148, 161, 0.7);
    border-right: 1px solid #F3F5F6; }
  .cm-s-devcms .CodeMirror-linenumber {
    color: rgba(127, 148, 161, 0.5); }
  .cm-s-devcms .CodeMirror-activeline-background {
    background: #F3F5F6; }
  .cm-s-devcms .cm-tag {
    color: #00BCD4; }
  .cm-s-devcms .CodeMirror-cursor {
    border-left-color: #7F94A1; }

/* # Header
---------------------------------------------------------------------------------------------------- */
header {
  overflow: auto; }
  header .logo {
    float: left;
    height: 150px;
    width: 250px;
    padding: 2em;
    background-color: #F3F5F6;
    border-bottom: 1px solid rgba(127, 148, 161, 0.5); }
    header .logo h1 {
      margin: 0;
      font-family: "Roboto", sans-serif;
      color: #00BCD4;
      font-size: 20px;
      font-size: 2em;
      font-weight: 100; }
  header .page-info {
    float: right;
    height: 150px;
    width: calc(100% - 250px);
    padding: 2em;
    background-color: #FFF;
    border-bottom: 1px solid #F3F5F6; }
    header .page-info h2 {
      margin: 0;
      margin-top: 1em;
      font-family: "Roboto", sans-serif;
      font-weight: 100; }
    header .page-info .url {
      float: left;
      margin: 0;
      margin-top: .8em;
      padding: .5em 10px;
      font-family: "Roboto Mono", sans-serif;
      color: rgba(127, 148, 161, 0.5);
      font-size: .8em;
      font-weight: 100;
      background: #F3F5F6;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      background-clip: padding-box; }
      header .page-info .url:focus {
        background: rgba(127, 148, 161, 0.5);
        color: #FFF;
        outline: none; }
    header .page-info .button {
      float: right; }

/* # Sidebar
---------------------------------------------------------------------------------------------------- */
.sidebar {
  float: left;
  height: calc(100% - 150px);
  height: calc(100vh - 150px);
  width: 250px;
  background-color: #F3F5F6;
  overflow-y: scroll; }
  .sidebar ul {
    font-family: "Roboto", sans-serif; }
    .sidebar ul li span {
      display: block;
      position: relative;
      padding: 1em 2em;
      padding-left: 3.5em;
      color: #7F94A1;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1em;
      font-weight: 100;
      border-bottom: 1px solid rgba(127, 148, 161, 0.5); }
      .sidebar ul li span:hover {
        background-color: #FFF; }
    .sidebar ul li.open > span {
      background-color: rgba(127, 148, 161, 0.5); }
      .sidebar ul li.open > span:before {
        content: "\f0d7" !important; }
    .sidebar ul li.has-children span:before {
      content: "\f0da";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 1em;
      padding-right: 0.5em;
      position: absolute;
      top: 17px;
      left: 2em; }
    .sidebar ul li .sub-menu {
      display: none;
      padding: 0;
      list-style-type: none;
      border-bottom: 1px solid rgba(127, 148, 161, 0.5); }
      .sidebar ul li .sub-menu li span {
        padding: 1em 3.5em;
        text-transform: none;
        border: none; }
        .sidebar ul li .sub-menu li span:before {
          content: ""; }

/* # Main Panel
---------------------------------------------------------------------------------------------------- */
.main-panel.with-sidebar {
  float: right;
  width: calc(100% - 250px); }
  .main-panel.with-sidebar .CodeMirror {
    height: calc(100% - 150px);
    height: calc(100vh - 150px); }

/*# sourceMappingURL=style.css.map */
