/* # Style
---------------------------------------------------------------------------------------------------- */

header {
  overflow: auto;
  .logo {
    float: left;
    height: 150px;
    width: 250px;
    padding: 2em;
    background-color: $gray;
    border-bottom: 1px solid $gray-dark;
    h1 {
      margin: 0;
      font-family: $header-font;
      color: $accent-color;
      font-size: 20px;
      font-size: 2em;
      font-weight: 100;
    }
  }
  .page-info {
    float: right;
    height: 150px;
    width: calc(100% - 250px);
    padding: 2em;
    h2 {
      margin: 0;
      margin-top: 1em;
      font-family: $header-font;
      font-weight: 100;
    }
    .url {
      float: left;
      margin: 0;
      margin-top: .8em;
      padding: .5em 10px;
      font-family: $mono-font;
      color: transparentize($light-color, .5); //#4a5961;
      font-size: .8em;
      font-weight: 100;
      background: $gray;
      @include border-radius(3px);
      &:focus {
        background: $light-color;
        color: $gray;
        outline: none;
      }
    }
  }
}

.sidebar {
  float: left;
  height: calc(100% - 150px);
  height: calc(100vh - 150px);
  width: 250px;
  background-color: $gray;
  overflow-y: scroll;
  ul {
    font-family: $header-font;
    li {
      span {
        display: block;
        position: relative;
        padding: 1em 2em;
        padding-left: 3.5em;
        color: $light-color;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1em;
        font-weight: 100;
        border-bottom: 1px solid $gray-dark;
        &:hover {
          background-color: $gray-light;
        }
      }
      &.open {
        & > span {
          background-color: $gray-dark;
          &:before {
            content: "\f0d7" !important;
          }
        }
      }
      &.has-children span {
        &:before {
          content: "\f0da";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          font-size: 1em;
          padding-right: 0.5em;
          position: absolute;
          top: 17px;
          left: 2em;
        }
      }
      .sub-menu {
        display: none;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid $gray-dark;
        li span {
          padding: 1em 3.5em;
          text-transform: none;
          border: none;
          &:before {
            content: "";
          }
        }
      }
    }
  }
}


.main-panel.with-sidebar {
  float: right;
  width: calc(100% - 250px);
  .CodeMirror {
    height: calc(100% - 150px);
    height: calc(100vh - 150px);
  }
}
