/* # Section Nav
---------------------------------------------------------------------------------------------------- */
#menu {
  width: 100px;
  float: left;
  text-align: center;
  ul {
    padding-top: 3em;
    li {
      padding-top: 0;
      padding-bottom: 3em;
      a {
        display: block;
        font-size: 24px;
        font-size: 1.5em;
        color: $dark;
        text-decoration: none;
        div.label {
          display: none;
          //min-width: 100%;
          padding-top: 1em;
          font-size: 12px;
          font-size: .5em;
          font-family: $header-font;
          font-weight: 300;
          color: $accent-color;
        }
      }
      &:hover {
        color: darken($dark, 10%);
      }
    }
  }
  .sub-menu {
    display: none;
    position: fixed;
    width: 200px;
    top: 0;
    bottom: 0;
    left: 100px;
    z-index: 100;
    background-color: $accent-color;// darken($dark, 20%);
    box-shadow: inset 0px 0px 20px $fog;
    text-align: left;
    list-style-type: none;
    li {
      padding: 0;
      a {
        padding: .5em 1em;
        font-family: $header-font;
        font-size: 1em;
        font-weight: 100;
        color: $neutral;
      }
    }
  }
}

/* # Sidebar
---------------------------------------------------------------------------------------------------- */


/* # Main Panel
---------------------------------------------------------------------------------------------------- */
.main-panel {
  float: right;
  width: 100%;
  box-shadow: 0px 0px 20px $fog;
  transition: all .5s ease;
  &.menu-open {
    width: calc(100% - 100px);
    &.sub-menu-open {
      width: calc(100% - 300px);
    }
  }

  // # Code Editor
  //-------------------------------------------------------------------------------------------------- */
  .CodeMirror {
    height: calc(100% - 150px);
    height: calc(100vh - 150px);
  }

  // # Navbar
  //-------------------------------------------------------------------------------------------------- */
  nav {
    float: right;
    padding: .5em 2em;
    font-family: $header-font;
    background: $medium;
    @include border-radius(0px 0px 0px 20px);
    ul {
      list-style-type: none;
      li {
        float: left;
        font-size: .8em;
        font-weight: 300;
        &.link {
          margin-right: 1em;
          line-height: 30px;
        }
        a {
          color: $fog;
          &:hover {
            color: $dark;
          }
        }
      }
    }
    .avatar {
      height: 30px;
      width: 30px;
      @include border-radius(15px);
      border: 2px solid $fog;
      background-image: url('../images/avatar.jpg');
        background-size: cover;
        background-position: center;
      &:hover {
        border-color: $dark;
      }
    }
  }
  // # Header
  //-------------------------------------------------------------------------------------------------- */
  header {
    overflow: auto;
    .logo {
      display: none;
      float: left;
      height: 150px;
      width: 100px;
      padding: 2em;
      background-color: $medium;
      border-bottom: 1px solid $fog;
      h1 {
        margin: 0;
        font-family: $header-font;
        color: $header-color;
        font-size: 20px;
        font-size: 2em;
        font-weight: 100;
      }
    }
    .page-info {
      height: 150px;
      padding: 2em;
      background-color: $light;
      border-bottom: 1px solid $medium;
      h2 {
        margin: 0;
        margin-top: 1em;
        font-family: $header-font;
        font-weight: 100;
      }
      .url {
        float: left;
        margin: 0;
        margin-top: .8em;
        padding: .5em 10px;
        background: $medium;
        color: $dark;
        font-family: $mono-font;
        font-size: .8em;
        font-weight: 100;
        @include border-radius(3px);
        cursor: default;
        span {
          color: $fog;
          &:hover {
            //background: darken($medium, 5%);
            cursor: text;
          }
          &:focus {
            //background: $fog;
            //color: $light;
            outline: none;
          }
        }
      }
      .button {
        float: right;
      }
    }
  }
}
