
// # Variables
//---------------------------------------------------------------------------------------------------- */

// THEME COLORS
$gray: #232E34;
$gray-light: #2D3B43;
$gray-dark: #1E272C;
$light-color: #D1DBE0;
$accent-color: #00BCD4;
$background-color: $gray-dark;

// THEME FONTS
$main-font: "Open Sans",sans-serif;
$header-font: "Roboto",sans-serif;
$mono-font: "Roboto Mono",sans-serif;
$main-font-color: $light-color;

// HEADERS
$header-color: $light-color;

//----------------------------------------------------------//
//    BREAKPOINTS                                           //
//    -------------------------------------------------     //
//    EXTRA SMALL DEVICES                    ie. phones     //
      $xs: 767px;                                           //
//    -------------------------------------------------     //
//    SMALL DEVICES                         ie. tablets     //
      $sm: 768px;                                           //
//    -------------------------------------------------     //
//    MEDIUM DEVICES                       ie. desktops     //
      $md: 992px;                                           //
//    -------------------------------------------------     //
//    LARGE DEVICES                         ie. largest     //
      $lg: 1200px;                                          //
//    -------------------------------------------------     //
//----------------------------------------------------------//

$gutter-width: 30px;
