
// # Variables
//---------------------------------------------------------------------------------------------------- */

// THEME COLORS
$accent-color: #00BCD4; //#4CAF50;
$medium: #F3F5F6; //#1C1C1F; //#232E34;
$light: #FFF; //#2D3B43;
$dark: #7F94A1; //#121314; //#1E272C;
$fog: transparentize($dark, .5);
$neutral: #DFE0E6; //#D1DBE0;
$background-color: $dark;

// THEME FONTS
$main-font: "Open Sans",sans-serif;
$header-font: "Roboto",sans-serif;
$mono-font: "Roboto Mono",sans-serif;
$main-font-color: $dark;

// HEADERS
$header-color: $accent-color;

//----------------------------------------------------------//
//    BREAKPOINTS                                           //
//    -------------------------------------------------     //
//    EXTRA SMALL DEVICES                    ie. phones     //
      $xs: 767px;                                           //
//    -------------------------------------------------     //
//    SMALL DEVICES                         ie. tablets     //
      $sm: 768px;                                           //
//    -------------------------------------------------     //
//    MEDIUM DEVICES                       ie. desktops     //
      $md: 992px;                                           //
//    -------------------------------------------------     //
//    LARGE DEVICES                         ie. largest     //
      $lg: 1200px;                                          //
//    -------------------------------------------------     //
//----------------------------------------------------------//

$gutter-width: 30px;
